*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 100px 0;
  font-size: 2.8rem;
  color: rgb(78, 77, 77);
}

section {
  border-left: 2px solid rgb(78, 77, 77);
  border-top: 2px solid rgb(78, 77, 77);
  border-right: 2px solid rgb(78, 77, 77);
  width: 90%;
  max-width: 800px;
  box-shadow: 20px 25px 15px 0 gainsboro;
}

h2 {
  width: 100%;
  font-weight: 700;
  border-bottom: 1px solid gainsboro;
  padding: 15px;
  color: rgb(78, 77, 77);
}

#input {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid gainsboro;
}

input[type="text"] {
  width: 100%;
  border: none;
  font-size: 1.1rem;
  color: rgb(78, 77, 77);
}

input[type="text"]:focus {
  outline: none;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid gainsboro;
  font-size: 1.1rem;
  color: rgb(78, 77, 77);
  font-weight: 500;
}

input[type="checkbox"] {
  margin-right: 20px;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 3px solid rgb(78, 77, 77);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  display: block;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(8, 253, 151);
  background-color: rgb(78, 77, 77);
}

.label {
  margin-right: auto;
}

.delete-button {
  width: 30px;
  margin-right: 10px;
  font-size: 1.2rem;
  display: block;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
}

.delete-button::after {
  content: "\274c";
}

.delete-button:hover {
  cursor: pointer;
}

.edit-button {
  width: 30px;
  font-size: 1.2rem;
  display: block;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
}

.edit-button::before {
  content: "✏️";
}

.edit-button:hover {
  cursor: pointer;
}

#add {
  background-color: rgb(78, 77, 77);
  border: none;
  padding: 8px 15px;
}

#add::after {
  content: "\002b";
  font-size: 1.8rem;
  color: rgb(8, 253, 151);
  font-weight: 700;
}

#add:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
  background-color: rgb(78, 77, 77);
  border: none;
  padding: 8px 15px;
}

.show::after {
  content: "\21bb";
  font-size: 1.8rem;
  color: rgb(8, 253, 151);
  font-weight: 700;
}

.show:hover {
  cursor: pointer;
}

#clear-all {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(253, 45, 8);
  background-color: rgb(78, 77, 77);
}

#clear-all:hover {
  cursor: pointer;
}
