*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  font-family: monospace, sans-serif;
  background: #000;
}

i {
  color: #f65ee0;
  font-size: 1.8rem;
}

section {
  border: thin solid #1495ff;
  width: 90%;
  max-width: 800px;
  box-shadow: 5px 5px 25px 0 #1495ff;
  border-radius: 5px;
  background-color: #0c002e;
}

h2 {
  width: 100%;
  font-weight: normal;
  font-size: 1.8rem;
  border-bottom: 1px solid #1495ff;
  padding: 15px;
  color: #f65ee0;
}

form {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #1495ff;
}

input[type="text"] {
  width: 100%;
  border: none;
  font-size: 1.4rem;
  color: #0cffd2;
  background: #0c002e;
}

input[type="text"]:focus {
  outline: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1495ff;
  padding: 15px;
}

.item {
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 20px;
  width: 40px;
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 2px solid #1495ff;
  border-radius: 3px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  height: 100%;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: #1495ff;
  border-radius: 3px;
}

.completed {
  text-decoration: line-through;
}

.focus {
  animation: color-change 1.5s ease-in-out;
}

@keyframes color-change {
  0% {
    background-color: #f65ee0;
  }

  25% {
    background-color: rgb(177, 56, 201);
  }

  50% {
    background-color: rgb(125, 28, 173);
  }

  75% {
    background-color: rgb(72, 0, 139);
  }

  100% {
    background-color: rgb(58, 21, 161);
  }
}

.label {
  margin-right: auto;
}

i.fa-times {
  font-size: 1.6rem;
  margin: 0 15px;
  color: #1495ff;
}

i.fa-times:hover {
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
}

.edit-button {
  font-size: 1.2rem;
  font-weight: 700;
  background: transparent;
  color: #1495ff;
  border: none;
}

.edit-button:hover {
  cursor: pointer;
}

#add {
  background-color: transparent;
  border: none;
  width: 30px;
}

#add:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
  border: none;
  padding: 8px 15px;
}

.show::after {
  content: "\21bb";
  font-size: 1.8rem;
  color: #1495ff;
  font-weight: 700;
}

.show:hover {
  cursor: pointer;
}

#clear-all {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #1495ff;
  background-color: #0c002e;
}

#clear-all:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  input[type="text"] {
    font-size: 1rem;
  }

  input[type="checkbox"] {
    width: 45px;
  }

  .edit-button {
    font-size: 1rem;
  }
}
